<h2 class="editable text" data-attribute="title"><%= post.escape("title") %></h2>

<p class="post-body editable textarea" data-attribute="body"><%= post.escape("body") %></p>

<p>Instructions: double click to edit the content</p>