// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar, #content {
  float: left;
  height: 100%;
}

#sidebar {
  width: 30%;
  background-color: #F0F0F0;
}

#sidebar > div {
  padding: 5px;
  border: 2px solid lightgrey;
}

#content {
  width: 70%;
}

#content > div {
  padding: 5px;
  border: 2px solid grey;
  background-color: pink;
}

ul {
  list-style: none;
  padding: 0px;
}

button.delete-post {
  float: right;
  width: 20%;
} 

li > a {
  display: inline-block;
  width: 80%;
}

li {
  padding: 10px 0px;
  border-bottom: 2px dotted grey;
}

#sidebar li {
  display: block;
}

h2 {
  margin: 10px auto;
}

.form-input {
  display: block;
}

input {
  width: 300px;
}

textarea {
  height: 200px;
  width: 300px;
}